<div>
    <label for=" {{ name }} "> {{ label }} </label>
    @if(type == 'textarea')
        <textarea type="text" class="form-control" name="{{ name }}" id="">  {{value}} </textarea>
    @else
        <input type="text" class="form-control" name="{{ name }}" id="" value=" {{value}} ">
    @endif
</div>